.idea
*.zip
*.iml
.project
.classpath
.settings
.buildpath
.pmd
.checkstyle
.tscache
target
node_modules
npm-debug.log
log4j2-dev.xml
tscommand-*

src/main/app/**/*.js
src/main/app/.*
!src/main/app/systemjs.config.js
src/main/app/**/*.js.map

